*{
	margin: 0;
	padding: 0;
}

.main {
	width: 1440px ;
	height: auto;
	/* background-color: rgb(240, 227, 169); */
    padding: 10px;
}

@media screen and (max-width: 1440px) {
    .main {
        width: auto;
    }
    .nav-item {
        width: 93px;
    }
    /* .hero__image img{
        width: 400px;
    } */
    /* .hero__desc--black h1 {
        font-size: 30px;
    } */
}

/* @media screen and (max-width: 1380px) {
    .decore__1 {
        display: none;
    }
    
@media screen and (max-width: 1400px) {
    .hero__image  {
        display: none;
    }
}
 */




/*  ------- DECORE--------- */
.decore__1 {
	z-index: 0;
	position: absolute;
	margin-top: -20px;
	margin-right: 0px;
	margin-left: 727px;
	width: 100px;
}

/* ----- NAVBAR ------ */
.navbar {
    background-color: none;
    position: sticky;
}
.navbar-brand {
    width: auto;
}

.navbar-collapse {
    margin-left: 200px;
}


.nav-item {
    width: 120px;
	color: #212832;
	font-weight: bold;
    font: 'Google Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 22px;
    /* padding: 0 20px 0 20px; */
	
}
.nav-link:hover {
    color: #bce722;
    text-shadow: 5px;
    /* text-decoration: overline; */
    text-decoration:underline;
}


.form-select {
    border: none;
    width: 80px ;
    
}
.form-select option {
    background-color: none;
}

.btn__signup {
    width: 90px ;
}


/*  ----------- HERO --------- */
.hero {

    position: relative;
	z-index: 2;
	width: 100%;
    
    padding-bottom: 10px;
    /* background-color: rgb(25, 134, 134); */

    height: auto; 
    margin-top: 50px;
    margin-bottom: 100px;
    height: 500px;
}
.hero__desc {
    width: 100%;
    height: auto;
    /* background-color: antiquewhite; */
    margin-top: 10px;
    padding-bottom: 5px;
}

.hero__desc--red {
    height: 50px;
    width: auto;
    z-index: 1;
}
.hero__desc--red h5{
    font: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #DF6951;
    overflow: hidden;
}

.hero__desc--black {
    height: auto;
    width: auto;
    z-index: 1;
}
.hero__desc--black h3{
    
    font-family: Volkhov;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: -0.04em;
    color: #181E4B;
}

.hero__desc--detail {
    height: 100px;
    width: auto;
    z-index: 1;
}

.hero__desc--detail h6{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
    text-align: justify;
}

.hero__image {
    height: auto;
    width: auto;
    z-index: 1;
}
.hero__image img {
    width: 600px;
}


/* ------- SERVICES ------ */
.services {
    position: relative;
	z-index: 2;
	width: 100%;
    height: auto;
    /* margin-top: 20px; */
    padding-bottom: 10px;
    /* background-color: rgb(25, 134, 134); */
}

.services__subheading {
    width: 100%;
    height: 30px;
    /* background-color: antiquewhite; */
    margin-top: 10px;
    padding-bottom: 5px;
}
.services__subheading h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #5E6282;
}


.services__heading {
    height: 65px;
    width: 100%;
    /* background-color: antiquewhite; */
    margin-top: 5px;
    padding-bottom: 5px;
}
.services__heading h4 {
    font-family: Volkhov;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #14183E;
}

.services__card {
    height: 315px;
    width: auto;
    /* background-color: rgb(206, 159, 97); */
    margin-top: 5px;
    padding-bottom: 5px;
}
.services__card img {
    width: 40%;
    height: 100px;
	margin-top: 30px;
	margin-left: 70px;
	margin-bottom: 20px;
}
.card-body {
    /* background-color: #DF6951; */
}

.services__card h4 {

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	text-align: center;

	color: #1E1D4C;
}

.services__card p{
	font: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #5E6282;
}

.services__card--flights {
    padding: 0px 20px 10px 10px;
	background: #FFFFFF;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
	border-radius: 0px 0px 0px 36px ;
}


/* ------ DESTINATIONS ----- */

.destinations {
    position: relative;
	z-index: 2;
	width: 100%;
    height: auto;
    margin-top: 50px;
    padding-bottom: 10px;
    /* background-color: rgb(25, 134, 134); */
}


.destinations__subheading {
    width: 100%;
    height: 30px;
    /* background-color: antiquewhite; */
    margin-top: 10px;
    padding-bottom: 5px;
}
.destinations__subheading h5 {
    text-align: center;

	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #5E6282;
}

.destinations__heading {
    height: 120px;
    width: 100%;
    /* background-color: antiquewhite; */
    margin-top: 5px;
    padding-bottom: 5px;
}

.destinations__heading h4 {
    font-size: 50px;
	font-family: Volkhov;
	font-style: normal;
	font-weight: bold;
	line-height: 64px;
	text-align: center;
	text-transform: capitalize;
	color: #14183E;
}


.destinations__card {
    height: 457px;
    width: 314px;
    border: none;
   
    /* background-color: rgb(206, 159, 97); */
    margin-top: 5px;
    padding-bottom: 5px;
    border-radius: 24px;
}
.destinations__card img {
  
    z-index: 1;
    height: 457px;
    width: 389px;
    margin-left: -65px;
}

.destinations__cardbody {
    width: 259px;
    height: 100px;
    position: absolute;
    margin-top: 300px;
    background-color: #FFFFFF;
    z-index: 2;
    border-radius: 0px 0px 24px 24px;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    
}

.destinations__cardbody #money {
	margin-left: 90px;
    position: absolute;

}
.destinations__cardbody #addr {
	width: 107px;
	height: 22px;
    

}
.destinations__cardbody p {
    margin-top: 30px;
}
#money, #addr, .destinations__cardbody p {
	font: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 124.5%;
	color: #5E6282;
}
.vector {
    position: absolute;
    width: 100%;
    height: 6px;
    z-index: 22;
    background-color: #DF6951;
}


/*  ---- BOOK A TRIP ------ */
.trip {
    position: relative;
	z-index: 2;
	width: 100%;
    height: auto;
    margin-top: 50px;
    padding-bottom: 10px;
    /* background-color: rgb(25, 134, 134); */
}

.trip__supheading {
	/* position: absolute; */
	width: 511px;
	height: 27px;
	margin-left: 186px;
	/* background-color: rgb(114, 51, 92); */
}
.trip__supheading h5 {
	/* position: absolute; */
	font: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	
	text-align: left;
	color: #5E6282;
}


.trip__heading {
	/* position: absolute; */
	width: auto;
	height: auto;
	/* margin-left: 186px; */
	/* background-color: rgb(58, 18, 214); */
}
.trip__heading h4 {
	/* position: absolute; */
	font: Volkhov;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 64px;
	text-transform: capitalize;
	color: #14183E;
}


.trip__values {
	display: inline;
	width: 511px;
	height: 289px;
	margin-left: 166px;
	background-color: rgb(224, 45, 162);
}

.trip__values h5 {
	width: 240px;
	height: 20px;

	font: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 124.5%;

	color: #5E6282;
}
.trip__values p {
	height: 20px;
}

.trip__values--text {
    position:absolute;
    margin-left: 55px;
    margin-top: -50px;
}

.trip__text {
	width: 327px;
	height: 40px;

	font: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 124.5%;

	color: #5E6282;
}

.trip__content {
	margin-left: 100px;
	margin-top: 70px;
	width: 370px;
	height: 400px;
	padding: 25px;
	background-color: #FFFFFF;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
border-radius: 26px;
}

.trip__image {
	position: absolute;
	width: 320px;

	border-radius: 24px;
}

.trip__greece h5{
	margin-top: 30px;
	font: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 124.5%;

	letter-spacing: 0.015em;

	color: #080809;
}

.trip__greece h6 {
	margin-top: 5px;
	margin-bottom: 5px;
	font: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 124.5%;
	
	letter-spacing: -0.005em;

	color: #84829A;
}

.trip__rome {
	position: absolute;
	width: 263px;
	height: 129px;
	margin-top: 200px;
	margin-left: 200px;

	background: #FFFFFF;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
	border-radius: 18px;
}
.trip__rome img {
	position: absolute;
	border-radius: 36px;
	padding: 10px;
}

.trip_rome__text {
	position: absolute;
	margin-left: 70px ;
	padding: 5px;
}
.trip_rome__text h6 {
	font: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 124.5%;
	letter-spacing: -0.035em;
	color: #84829A;
}

.trip_rome__text h5 {
	font: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 124.5%;
	letter-spacing: -0.015em;
	color: #080809;
}

.trip_rome__text h5 b{
	color: #8A79DF;;
}





/*  ------ TESTIMONIALS */
.testimonials {
    height: 700px;
    position: relative;
	z-index: 2;
	width: 100%;
    height: auto;
    margin-top: 50px;
    padding-bottom: 100px;
    /* background-color: rgb(25, 134, 134); */
}

.testimonials__content1 {

}
.testimonials__subheading {
	width: auto;
	height: 27px;
	margin-left: 186px;
	/* background-color: rgb(114, 51, 92); */
}
.testimonials__subheading h5 {
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	text-transform: uppercase;
	color: #5E6282;
}
.testimonials__heading {
	width: auto;
	height: 130px;
	margin-left: 186px;
	/* background-color: rgb(58, 18, 214); */
}
.testimonials__heading h4 {
	font: Volkhov;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 64px;
	text-transform: capitalize;
	color: #14183E;
}

.testimonials__blank {
	width: 409px;
	height: 130px;
	margin-left: 186px;
	/* background-color: rgb(75, 64, 119); */
}
.testimonials__blank img {
	margin-top: 100px;
}

.testimonials__content2 {
	width: 1240px;
	height: 600px;
	position: absolute;
}
.testimonials__image {
	width: 68px;
	height: 68px;
	/* background-color: rgb(75, 64, 119); */
}
.testimonials__box {
	width: 504px;
	height: 245px;
	/* background-color: rgb(75, 64, 119); */
}
.testimonials__text {
	position: absolute;
	background-color: #FFFFFF;
	margin-left: 70px;
	width: 434px;
	height: 245px;
	padding: 34px;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
	border-radius: 10px;
}
.testimonials__text--text1 h5{
	font: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 32px;

	color: #5E6282;
	margin-bottom: 20px;
}
.testimonials__text--text2 h4{
	font: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	color: #5E6282;
}

.testimonials__text--text2 h6{
	font: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;

	color: #5E6282;
}

.testimonials__box2 {
	position: absolute;
	z-index: -1;
	width: 504px;
	height: 245px;
	/* background-color: rgb(75, 64, 119); */
	margin-left: 140px;
	margin-top: -140px;
	border: 2px solid #F7F7F7;
	filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
	border-radius: 10px;
}

.testimonials__box2--text1 {
	margin-top: 150px;
	margin-left: 30px;
	/* background-color: #686D77; */
}

.testimonials__updown {
	position: absolute;
	margin-left: 700px;
	margin-top: -150px;
    width: 10px;
    height: 20px;
}
.blank {
    height: 40px;
}


/* ----- LOGOS ------ */
.logos {
    position: relative;
	z-index: 2;
	width: 100%;
    height: auto;
    margin-top: 50px;
    padding-bottom: 10px;
    /* background-color: rgb(25, 134, 134); */
}

.logos {
	width: 1420px;
	height:162px;
	margin-left: 116px;
	margin-top: 300px;
	/* background-color: blue; */
	text-align: center;
	margin-bottom: 150px;
}

.logos__1, .logos__2, .logos__3, .logos__4, .logos__5 {

	position: absolute;
	width: 241px;
	height: 162px;

	background: #FFFFFF;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
	border-radius: 10px;
	margin-bottom: 0px !important;
	
}

.logos__2 img {
	margin-top: 10px;
}
.logos__3 img {
	margin-top: -18px;
}
.logos__4 img {
	margin-top: -11px;
}
.logos__4 img {
	margin-top: 47px;
}
.logos__5 img {
	margin-top: 47px;
}



/* ----- SUBCRIBE ---- */
.subcribe {
    position: relative;
	z-index: 2;
	width: 100%;
    /* height: auto; */
    margin-top: 50px;
    padding-bottom: 10px;
    /* background-color: rgb(25, 134, 134); */
    height: 450px;
}


.subcribe__text {
	width: 100%px;
	height: 108px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.subcribe__text h5 {
	position: absolute;
	width: 881px;
	height: 108px;
	margin-left: 180px;

	font: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 33px;
	line-height: 54px;
	
	text-align: center;

	color: #5E6282;
}

.subcribe__form {
	position: absolute;
	text-align: center;
	width: 550px;
	height: 85px;
	margin-left: 345px;
	/* background-color: rgb(40, 70, 44); */
	font-size: 20px;
}

.subcribe__form input {
	margin-right: 20px;
	border-radius: 5px;
	
}
.subcribe__form button {
	width: 200px;
	background-color: #FF946D;
	border: none;
}
.subcribe__form button:hover {
	background-color: #F7F7F7;
	color: #DF6951;
	font-weight: bold;
}

.subcribe__decore1 {
	margin-top: -40px;
}
.subcribe__subcribe1 img{
	position: absolute;
	z-index: 0;
	color: #8A79DF;
	width: 346px;
	opacity: 0.3;
}

.subcribe__subcribe2 {
	position: absolute;
	margin-top: -120px;
	margin-left: 967px;
	opacity: 0.3;
}
.subcribe__subcribe3 {
	position: absolute;
	margin-top: -175px;
	margin-left: 1120px;
}





/* ----- FOOTER ----- */
.footer {
    position: relative;
	z-index: 2;
	width: 100%;
    height: auto;
    margin-top: 50px;
    padding-bottom: 10px;
    /* background-color: rgb(25, 134, 134); */
}


.footer__1 {
	position: absolute;
	width: 208px;
	height: 250px;
	margin-left:186px;
	margin-right: 10px;
}

.footer__1 h5{
	font: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 44px;
	line-height: 66px;
	color: #181E4B;
}
.footer__1 p {
	font: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 124.5%;

	color: #5E6282;
}

.footer__2 {
	position: absolute;
	width: 110px;
	margin-left: 450px;
}

.footer__2 h5, .footer__3 h5, .footer__4 h5 {
	margin-bottom: 15px;
	font: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 124.5%;
	color: #080809;
}

.footer__2 p, .footer__3 p, .footer__4 p {
	font: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 124.5%;
	color: #5E6282;
}

.footer__3 {
	position: absolute;
	width: 110px;
	margin-left: 650px;

}
.footer__4 {
	position: absolute;
	width: 110px;
	margin-left: 850px;

}
.footer__5 {
	position: absolute;
	width: 250px;
	margin-left: 1050px;
}
.footer__5 h5 {
	font: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 124.5%;

	letter-spacing: 0.005em;

	color: #5E6282;
}


.footer__6 {
	position: absolute;
	width: 1420px;
	height: 20px;
	margin-top: 250px;

}

.footer__6 p {
	text-align: center;
	font: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 124.5%;
	color: #5E6282;
}

